
build/
install/
log/
*.pyc
__pycache__/
*.egg-info/
colcon*.log
COLCON_IGNORE
.vscode/
*.pyo
*.pyd
*.pdb
*.swp
*.swo
*.bak
.DS_Store
Thumbs.db
# Trained models
*.pt
*.pth
*.ckpt
*.h5
*.pb
models/
models_visual/
logs_visual
saved_models/
checkpoints/

# RL logs
runs/
logs/
tensorboard/